/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    color: white;
}

/* Flexbox */

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Content */

.article-container {
    height: 100vh;
    width: 100%;
    background-color: hsl(216, 12%, 8%);
}

/* Rating component */

.content-container {
    height: 420px;
    width: 420px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 28px;
    position: relative;

}

/* --------------------- Rating state --------------------- */

.rating-container {
    width: 100%;
    height: 100%;
    display: none;
    align-items: start;
    justify-content: space-between;
    padding: 36px;
}

/* Icon */
.fa-star {
    color: hsl(25, 97%, 53%);
}

/* Heading */
.rating-container h2 {
    font-size: 28px;
}

/* Paragraph */

.paragraph-text {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    line-height: 1.5em;                              
}

/* Rating */

.rating {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.circle {
    height: 54px;
    width: 54px;
    background-color: hsl(216, 10%, 14%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.rate p {
    color: hsl(217, 12%, 63%);                              
}

.rate {
    transition: .5s;
}

.rate:hover {
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
}

.rate:hover p {
    color: white;
}

/* Button */

.btn {
    background-color: hsl(25, 97%, 53%);
    padding: 14px;
    width: 100%;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
    transition: .5s;
}

.btn:hover {
    color: hsl(25, 97%, 53%);
    background-color: white;
}

/* --------------------- Thank you state --------------------- */

.ty-container {
    width: 100%;
    height: 100%;
    padding: 36px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.ty-rate {

}

.ty-container h2 {
    
}

.ty-paragraph {

}



